.newPost {
    margin-top: 20px;
}

#new-post-input {
    margin-top: 5px;
}

#post-container {
    margin-bottom: 10px;
}

#post-description {
    margin-bottom: 6px;
}

#login {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#post-title {
    margin-top: 20px;
}

#home {
    margin-top: 20px;
    text-align: center;
}

#profile {
    margin-top: 20px;
}

#login-buttons {
    margin-right: 5px;
}

#login-inputs {
    width: 525px;
    margin-bottom: 5px;
}

#login-failed {
    margin-bottom: 5px;
}

#new-post-button {
    margin-top: 20px;
    margin-left: 5px;
}

#delete-post-button {
    margin-top: 0px;
    margin-bottom: 20px;
    width: 100px;
}

#posts-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search-bar {
    width: 324px;
}